body {
  background-color: #4b5b75;
}

h1 {
  color: #4b5b75;
  font-weight:500 !important;
}

.navbar {
  box-shadow: 0px 1px 5px 0px #4A4F52;
  background: linear-gradient(#373A3C,#2B2E30);
}

.btn {
  margin-bottom: 1%;
}

.btn-primary, .btn-primary:visited {
  background-color: #373A3C !important;
  color: #AAB1BD !important;
  border: none;
}

.btn-primary:hover {
  background-color: #272A2B !important;
  color: #AAB1BD !important;
  border: none;
}

.btn-primary:active {
  background-color: #272A2B !important;
  color: #AAB1BD !important;
  border: none;
}

.btn-default {
  padding: 0%;
  color: #4b5b75 !important;
}

.btn-default:hover {
  padding: 0%;
  color: #38465C !important;
}

.container-fluid {
  margin-top: 10px;
}

.jumbotron {
  width: 95%;
  /*height: 80%;
  min-height: 510px;*/
  display:block;
  overflow:auto;
  position: absolute;
  top: 12%;
  left: 2.5%;
  position: absolute;
  padding-top: 2%;
  padding-right: 2%;
  z-index: 1;
  background-color: #AAB1BD;
}

h2 {
  position: absolute;;
  top: 20%;
}

.taco {
  margin-right: 38%;
}

.column-print-out {
  margin-left: 3%;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.alert {
  width: 98%;
  margin: 1%;
  position:absolute;
  z-index: 1000 !important;
}

.alert-warning {
  background-color: #EDC37E;
}
