<!DOCTYPE html>
<html>

<head>
  <title>SQL Helper</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
  <!-- <script src="./lib/javascripts/errors.js"></script> -->
  <link rel="stylesheet" href='css/main.css' >
  <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="jumbotron">
    <h1 class="display-3">Welcome to SQL Helper!</h1>
    <p class="lead">Which option below is most useful to you today?</p>
    <hr class="my-2">
    <a class="btn btn-primary btn-lg" href="/load" role="button">Load Schema</a>
    <a class="btn btn-primary btn-lg" href="/new" role="button">New Schema</a>

  </div>
</body>

</html>
